.form {
  display: grid;
  gap: 15px;

  @media (width >= 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__control,
.button {
  padding: 5px;
}

.button {
  background-color: #111;
  color: #fff;
}

.button--icon {
  background-color: transparent;
  color: #000;
  padding: 0;
}
